.card {
    width: 75%;
    /* min-width: 75%; */
    /* max-height: 20vh; */
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    padding: 0.5%;
    /* background-image: url('https://st3.depositphotos.com/1466059/13083/i/450/depositphotos_130833964-stock-photo-grunge-yellow-paper.jpg'); */
    background-color: white;
    /* background-image: url('../img/andrew-stutesman-l68Z6eF2peA-unsplash\ \(1\).jpg'); */
  
    box-shadow: 0px 5px 20px 3px rgb(189, 184, 178); 
    background-color: #f3f1ed;
    color: white;
    text-align: center;
    border-radius: 5px;
  }
  
  .card:hover {
    transform: translateY(-2px);
  }
  
  .imgContainer {
    width: 30%;
    margin-right: 3%;
  }
  
  .img {
    width: 100%;
    height: auto;
  }
  
  .textContainer {
    text-align: left;
  
  }
  
  .link {
    text-decoration: none;
    margin-bottom: 0;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  .country {
    font-size: 30px;
    margin-bottom: 0;
  }
  
  .continent {
    font-size: 22px;
    margin-top: 0;
    color: white;
  }